/* Основные стили для header */
.header {
  background-color: #2997ea;
  padding: 20px;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo-img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  margin-left: auto;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.nav-link:hover {
  color: #FFD700;
}

.auth-buttons {
  display: flex;
}

.auth-button {
  text-decoration: none;
  background-color: #62b4e0;
  color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 10px;
}

.auth-button:hover {
  background-color: #4a7bc9;
}