/* Общий контейнер формы */
.register-container {
    text-align: center;
    padding: 20px;
    background-image: url('/img/mycloud2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.register-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.register-form {
    display: inline-block;
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.register-form input:focus {
    border-color: #007bff;
    outline: none;
}

.register-form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:disabled {
    background-color: #c0c0c0;
}

.register-form button:hover:not(:disabled) {
    background-color: #0056b3;
}

.register-success {
    color: #28a745;
    text-align: center;
    font-size: 16px;
}

.register-link {
    color: #007bff;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.error-message {
    color: #3f71dc;
    font-size: 14px;
    margin-top: 5px;
}

.register-form div {
    position: relative;
}

.register-form .error-message {
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    color: rgb(6, 6, 6);
    margin-top: 5px;
}

@media (max-width: 600px) {
    .register-container {
        padding: 15px;
    }

    .register-title {
        font-size: 20px;
    }

    .register-form input,
    .register-form button {
        font-size: 14px;
    }
}