/* Общие стили */
.user-page-container {
  text-align: center;
    padding: 20px;
    background-image: url('/img/mycloud2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

h2, h3 {
  color: #333;
}

/* Центрирование заголовка "Список файлов" */
h3 {
  text-align: none;
  margin-top: 30px;
}

/* Форма загрузки */
.upload-form {
  display: inline-block;
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="file"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #0056b3;
}

/* Кнопки для "Загрузить" и "Копировать ссылку" */
.upload-button,
.copy-link-button {
  background-color: #007bff;
}

.upload-button:hover,
.copy-link-button:hover {
  background-color: #0056b3;
}

.upload-button:disabled,
.copy-link-button:disabled {
  background-color: #ccc;
}

.success-message,
.error-message {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.success-message {
  background-color: #28a745;
}

.error-message {
  background-color: #dc3545;
}

/* Стили таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #007bff;
}

th {
  background-color: #f4f4f4;
  border: 2px solid #007bff;
}

td {
  background-color: #fff;
  border: 2px solid #007bff;
}

td button {
  margin-right: 5px;
  padding: 8px;
  background-color: #17a2b8;
}

td button:hover {
  background-color: #138496;
}

td button:last-child {
  background-color: #28a745;
}

td button:last-child:hover {
  background-color: #218838;
}

td input[type="text"] {
  padding: 5px;
  width: 80%;
  margin-right: 10px;
}

/* Стиль для загрузки файлов */
.upload-button {
  background-color: #007bff;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}

.upload-button:disabled {
  background-color: #ccc;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .user-page-container {
    padding: 10px;
  }

  .upload-form {
    padding: 15px;
  }

  table {
    font-size: 14px;
  }

  td button {
    padding: 6px;
  }
}